<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colored</title>
    <link href="./../static/css/main.css" rel="stylesheet" />
    <link href="./../static/css/colored-page.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <!-- Left logo -->
      <img src="./../static/images/pup-logo.png" alt="sample" />

      <!-- Center text -->
      <div class="center-text">INSTAPRINT <h6>ONLINE UPLOAD | COLORED PRINT</h6></div>

      <!-- Right logo -->
      <img src="./../static/images/cpe-logo.png" alt="sample" />
    </header>

    <main>
      <div class="left">
        <div class="left-contents">
          <img src="./../static/images/pdf.png" alt="sample">
          <p class="doc-name">YourFile.pdf</p>
         <div class="price-container">
          <h1 class="amount">Total Amount</h1>
          <h1 class="price">₱20</h1>
          <h1 class="amount">Proceed to payment?</h1>
         </div>
         <div class="button-container">
          <button id="exitButton" class="action-button">Exit</button>
          <button id="continueButton" class="action-button">Continue</button>
        </div>
        </div>
      </div>

      <div class="right">
        <div class="right-contents">
          <div class="rectangle">
            <!-- INSIDE OF THE RECTANGLE -->
            <div class="colored-title">
              <h2>COLORED PAGES DETECTED</h2>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="./../static/js/main.js"></script>

  </body>

</html>
