<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./../static/css/main.css" rel="stylesheet" />
    <title>File Upload</title>
  </head>
  <body>
    <div class="insta-container">
      <div class="logo-container">
        <div class="logo">
          <div class="logo1">
            <img src="./../static/images/cpe-logo.png" alt="CPE Logo" />
          </div>
          <div class="logo2">
            <img src="./../static/images/pup-logo.png" alt="PUP Logo" />
          </div>
          <div class="logo3">
            <img src="./../static/images/ce-logo.png" alt="CE Logo" />
          </div>
        </div>
      </div>
      <div class="title">INSTAPRINT</div>
      <div class="subtitle">FILE UPLOAD</div>
      <div class="form">
        <div class="form-container">
          <form class="form">
            <button
              type="button"
              class="online"
              onclick="window.location.href='/manual-upload';"
            >
              Manual Upload
            </button>
            <button class="online">Online Upload</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
