<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./../static/css/main.css" rel="stylesheet" />
    <title>Kiosk Login</title>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const pinForm = document.getElementById("pinForm");

        pinForm.addEventListener("submit", function (e) {
          e.preventDefault(); // Prevent form submission from refreshing the page

          const enteredPin = document.getElementById("password").value;
          const correctPin = "1234"; // Correct PIN for login

          if (enteredPin === correctPin) {
            // Redirect to file upload if PIN is correct
            window.location.href = "/file-upload";
          } else {
            // Display an alert if PIN is incorrect
            alert("Incorrect PIN. Please try again.");
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="insta-container">
      <div class="logo-container">
        <div class="logo">
          <div class="logo1">
            <img src="./../static/images/cpe-logo.png" alt="CPE Logo" />
          </div>
          <div class="logo2">
            <img src="./../static/images/pup-logo.png" alt="PUP Logo" />
          </div>
          <div class="logo3">
            <img src="./../static/images/ce-logo.png" alt="CE Logo" />
          </div>
        </div>
      </div>
      <div class="title">INSTAPRINT</div>
      <div class="subtitle">ENTER KIOSK PIN</div>
      <div class="form">
        <div class="form-container">
          <form id="pinForm" method="POST">
            <div class="input-group">
              <label for="password">PIN</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter PIN"
              />
            </div>
            <div class="enter-btn">
              <button type="submit" class="login">ENTER</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
